.svg-arrow-dims {
	width: 20px;
	height: 30px;
}

.svg-call-dims {
	width: 31px;
	height: 31px;
}

.svg-dorohov-dims {
	width: 83px;
	height: 28px;
}

.svg-form_email-dims {
	width: 22px;
	height: 22px;
}

.svg-form_name-dims {
	width: 22px;
	height: 22px;
}

.svg-form_phone-dims {
	width: 22px;
	height: 22px;
}

.svg-telegram-dims {
	width: 33px;
	height: 33px;
}

.svg-viber-dims {
	width: 33px;
	height: 33px;
}

.svg-whatsapp-dims {
	width: 33px;
	height: 33px;
}

