.svg-arrow-dims {
	width: 19px;
	height: 15px;
}

.svg-c_email-dims {
	width: 19px;
	height: 15px;
}

.svg-c_marker-dims {
	width: 20px;
	height: 20px;
}

.svg-c_phone-dims {
	width: 20px;
	height: 20px;
}

.svg-c_telegram-dims {
	width: 16px;
	height: 16px;
}

.svg-c_viber-dims {
	width: 16px;
	height: 16px;
}

.svg-c_whatsapp-dims {
	width: 16px;
	height: 16px;
}

.svg-calendar-dims {
	width: 20px;
	height: 20px;
}

.svg-call-dims {
	width: 31px;
	height: 31px;
}

.svg-dorohov-dims {
	width: 83px;
	height: 28px;
}

.svg-form_email-dims {
	width: 22px;
	height: 22px;
}

.svg-form_name-dims {
	width: 22px;
	height: 22px;
}

.svg-form_phone-dims {
	width: 22px;
	height: 22px;
}

.svg-ruble-dims {
	width: 10px;
	height: 12px;
}

.svg-ruble_b-dims {
	width: 14px;
	height: 18px;
}

.svg-telegram-dims {
	width: 33px;
	height: 33px;
}

.svg-telegram_n-dims {
	width: 33px;
	height: 33px;
}

.svg-viber-dims {
	width: 33px;
	height: 33px;
}

.svg-viber_n-dims {
	width: 33px;
	height: 33px;
}

.svg-whatsapp-dims {
	width: 33px;
	height: 33px;
}

.svg-whatsapp_n-dims {
	width: 33px;
	height: 33px;
}

