<div class="article page">
    <div class="article__inner container">
        @@include('../components/component.breadcrumbs.html', {
            "list": [
                {
                    "title": "Главная",
                    "url": "@@pages.index"
                },
                {
                    "title": "Блог",
                    "url": "@@pages.blog"
                }
            ],
            "current": "Предпроверочный налоговый анализ"
        })
        <div class="heading is--mb70">
            <div class="heading__text">Предпроверочный налоговый анализ</div>
        </div>
        <div class="article__content">
            <p>Адвокаты Казанской коллегии адвокатов Республики Татарстан «Читая, Поликарпов и партнеры» Усманова Г.М. и Борисова Д.А. 13 сентября 2018 года приняли участие в XIV Международной научно-практической конференции «Державинские чтения».</p>
            <p>Данная конференция проходила на базе Казанского (Приволжского) Федерального Университета. <br>
                    Основной темой мероприятия в этом году стали «Информационные технологии в праве и правовые условия развития цифровой экономики России». <br>
                    Участие в конференции приняли видные теоретики и практики юриспруденции, преподаватели, правоведы, представители судебной системы, органов государственной власти 
                    и местного самоуправления.
                    </p>
            <p>Участников международного форума приветствовал Председатель Государственного Совета Республики Татарстан Фарид Мухаметшин, который обозначил крупнейшие инвестиционные, социально-экономические и инфраструктурные проекты, которые реализуются сегодня в республике, в том числе и в рамках цифровизации региональной экономики.</p>
            <p>Адвокаты Казанской коллегии адвокатов Республики Татарстан «Читая, Поликарпов и партнеры» Усманова Г.М. и Борисова Д.А. 13 сентября 2018 года приняли участие в XIV Международной научно-практической конференции «Державинские чтения».</p>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium exercitationem laudantium placeat nulla, minima labore neque est et corporis voluptatem!</li>
                <li>Ipsa maiores laborum, perspiciatis ea magnam incidunt dolorum voluptate laudantium sed nihil culpa, laboriosam, provident tempore odit voluptatum quia placeat!</li>
                <li>Quam odio ex ea itaque nostrum molestiae? Exercitationem distinctio, sunt quae ipsum, at harum, itaque animi consequuntur commodi laborum iusto!</li>
                <li>Minima quo odit repellat voluptates soluta officia necessitatibus modi tempore reiciendis, facilis sequi quasi ullam consequuntur! Placeat, in officiis! Ea.</li>
                <li>Voluptatum perspiciatis accusamus perferendis aperiam molestiae omnis commodi quae sunt? Magni et, accusantium reiciendis delectus nesciunt illo dolorum non excepturi.</li>
            </ul>
            <p>Данная конференция проходила на базе Казанского (Приволжского) Федерального Университета. <br>
                    Основной темой мероприятия в этом году стали «Информационные технологии в праве и правовые условия развития цифровой экономики России». <br>
                    Участие в конференции приняли видные теоретики и практики юриспруденции, преподаватели, правоведы, представители судебной системы, органов государственной власти 
                    и местного самоуправления.
                    </p>
            <p>Участников международного форума приветствовал Председатель Государственного Совета Республики Татарстан Фарид Мухаметшин, который обозначил крупнейшие инвестиционные, социально-экономические и инфраструктурные проекты, которые реализуются сегодня в республике, в том числе и в рамках цифровизации региональной экономики.</p>    
        </div>
    </div>
</div>