<ul class="is--social">
    <li>
        <a href="@@messangers.whatsapp" class="is--whatsapp">
            <!-- @@include('component.svg.html', {"name": "whatsapp"}) -->
            <!-- @@include('component.svg.html', {"name": "whatsapp_n"}) -->
            <img src="img/n_whatsapp.svg" alt="">
        </a>
    </li>
    <li>
        <a href="@@messangers.viber" class="is--viber">
            <!-- @@include('component.svg.html', {"name": "viber"}) -->
            <!-- @@include('component.svg.html', {"name": "viber_n"}) -->
            <img src="img/n_viber.svg" alt="">
        </a>
    </li>
    <li>
        <a href="@@messangers.telegram" class="is--telegram">
            <!-- @@include('component.svg.html', {"name": "telegram"}) -->
            <!-- @@include('component.svg.html', {"name": "telegram_n"}) -->
            <img src="img/n_telegram.svg" alt="">
        </a>
    </li>
</ul>