<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__wrap">
            <div class="footer__wrap__top">
                <div class="footer__wrap__top__left">
                    <div class="footer__wrap__top__mess">
                        @@include('component.social.html')
                    </div>
                </div>
                <div class="footer__wrap__top__center">
                    <a href="@@pages.index">
                        <img src="img/logo_inv.svg" alt="@@sitename">
                    </a>
                </div>
                <div class="footer__wrap__top__right">
                    <div class="footer__wrap__top__phone">
                        <a href="@@phone_link">@@phone</a>
                    </div>
                </div>
            </div>
            <div class="footer__wrap__center">
                <ul>
                    <li><a href="@@pages.index"><span>Главная</span></a></li>
                    <li><a href="@@pages.about"><span>Об адвокате</span></a></li>
                    <li><a href="@@pages.services"><span>Услуги</span></a></li>
                    <li><a href="@@pages.practice.list"><span>Практика</span></a></li>
                    <li><a href="@@pages.th"><span>Благодарности</span></a></li>
                    <li><a href="@@pages.blog"><span>Блог</span></a></li>
                    <li><a href="@@pages.contacts"><span>Контакты</span></a></li>
                </ul>
            </div>
            <div class="footer__wrap__bottom">
                <div class="footer__wrap__bottom__dorohov">
                    <a href="https://dorohov.design/">
                        @@include('component.svg.html', {"name": "dorohov"})
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
@@include('../modals/modal.main.html')
@@include('component.scripts.html')