<script src="dist/js/jquery-3.3.1.min.js"></script>
<script src="dist/js/svg4everybody.min.js"></script>
<script src="dist/js/slick.min.js"></script>
<script src="dist/js/jquery.fancybox.min.js"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=b28b864e-4bc3-43cf-b6de-2b785943177a&lang=ru_RU" type="text/javascript"></script>
<script src="dist/js/parsley.min.js"></script>
<script src="dist/js/i18n/ru.js"></script>
<script src="dist/js/imask.js"></script>
<script src="dist/js/main.js"></script>
<script>svg4everybody();</script>