<div class="pr-c__more">
    <div class="pr-c__more__link">
        <a href="@@pages.practice.list">@@all</a>
    </div>
    <div class="pr-c__more__btns">
        <a href="@@pages.practice.current" class="is--prev">
            @@include('../components/component.svg.html', {"name": "arrow"})
            <span>@@prev</span>
        </a>
        <a href="@@pages.practice.current" class="is--next">
            <span>@@next</span>
            @@include('../components/component.svg.html', {"name": "arrow"})
        </a>
    </div>
</div>