body {
    font-family: 'HeliosCond';
    &.is--np {
        padding-top: 0 !important;
    }
    &.is--navbar {
        overflow: hidden;
        .navbar {
          background: #fff;
        }
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

svg,
img {
    vertical-align: middle;
}

a.is--whatsapp {
    &:hover {
        svg {
            fill: #4DC85A !important;
        }
    }
}

a.is--viber {
    &:hover {
        svg {
            fill: #5E3683 !important;
        }
    }
}

a.is--telegram {
    &:hover {
        svg {
            fill: #0084C6 !important;
        }
    }
}
