@font-face {
    font-family: 'HeliosCond';
    src: url('../../fonts/HeliosCond.woff2') format('woff2'),
        url('../../fonts/HeliosCond.woff') format('woff'),
        url('../../fonts/HeliosCond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HeliosCond';
    src: url('../../fonts/HeliosCond-Bold.woff2') format('woff2'),
        url('../../fonts/HeliosCond-Bold.woff') format('woff'),
        url('../../fonts/HeliosCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-ThinItalic.eot');
    src: local('Politica Thin Italic'), local('Politica-ThinItalic'),
        url('../../fonts/Politica-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-ThinItalic.woff') format('woff'),
        url('../../fonts/Politica-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-BlackItalic.eot');
    src: local('Politica Black Italic'), local('Politica-BlackItalic'),
        url('../../fonts/Politica-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-BlackItalic.woff') format('woff'),
        url('../../fonts/Politica-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica.eot');
    src: local('Politica'),
        url('../../fonts/Politica.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica.woff') format('woff'),
        url('../../fonts/Politica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-Thin.eot');
    src: local('Politica Thin'), local('Politica-Thin'),
        url('../../fonts/Politica-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-Thin.woff') format('woff'),
        url('../../fonts/Politica-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-ExtraBold.eot');
    src: local('Politica ExtraBold'), local('Politica-ExtraBold'),
        url('../../fonts/Politica-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-ExtraBold.woff') format('woff'),
        url('../../fonts/Politica-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-Light.eot');
    src: local('Politica Light'), local('Politica-Light'),
        url('../../fonts/Politica-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-Light.woff') format('woff'),
        url('../../fonts/Politica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-ExtraBoldItalic.eot');
    src: local('Politica ExtraBold Italic'), local('Politica-ExtraBoldItalic'),
        url('../../fonts/Politica-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-ExtraBoldItalic.woff') format('woff'),
        url('../../fonts/Politica-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-Black.eot');
    src: local('Politica Black'), local('Politica-Black'),
        url('../../fonts/Politica-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-Black.woff') format('woff'),
        url('../../fonts/Politica-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-Bold.eot');
    src: local('Politica Bold'), local('Politica-Bold'),
        url('../../fonts/Politica-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-Bold.woff') format('woff'),
        url('../../fonts/Politica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-LightItalic.eot');
    src: local('Politica Light Italic'), local('Politica-LightItalic'),
        url('../../fonts/Politica-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-LightItalic.woff') format('woff'),
        url('../../fonts/Politica-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-BoldItalic.eot');
    src: local('Politica Bold Italic'), local('Politica-BoldItalic'),
        url('../../fonts/Politica-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-BoldItalic.woff') format('woff'),
        url('../../fonts/Politica-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Politica';
    src: url('../../fonts/Politica-Italic.eot');
    src: local('Politica Italic'), local('Politica-Italic'),
        url('../../fonts/Politica-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Politica-Italic.woff') format('woff'),
        url('../../fonts/Politica-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}