.container {
    max-width: #{1480px + 60px};
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: $c-primary;
    padding: 30px 50px;
    border: 1px solid $c-primary;
    display: inline-block;
    position: relative;
    z-index: 10;
    transition: .5s all ease;
    line-height: 16px;
    &:hover {
        color: #fff;
        &:after {
            width: 100%;
            left: 0;
            right: auto;
        }
    }
    &:after {
        content: '';
        width: 0;
        height: 100%;
        position: absolute;
        background: $c-primary;
        right: 0;
        top: 0;
        z-index: -1;
        transition: .5s all ease;
    }
}

.page {
    padding-top: 110px;
    padding-bottom: 130px;
}

.heading {
    color: #101519;
    &__text {
        font-size: 64px;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Politica';
        display: flex;
        align-items: center;
        line-height: 30px;
        &__button {
            margin-left: auto;
        }
    }
    &.is--mb80 {margin-bottom: 80px;}
}

@media (max-width: 768px) {
    .btn {
        font-size: 14px;
        padding: 15px 25px;
    }
}