.pr-c {
    padding-top: 80px;
    &__inner {
        display: flex;
    }
    &__left {
        max-width: 950px;
        width: 950px;
        min-width: 950px;
        margin-right: 30px;
    }
    &__right {
        margin-left: auto;
    }
    &__content {
        &__heading {
            color: $c-primary;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 15px;
        }
        &__p {
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0;
            }
            p {
                margin: 15px 0;
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}